@media (min-width : 576px) and (max-width : 768px) {
    
}

@media (min-width : 480px) and (max-width : 575px) {
    h1 {
        font-size: 45px;
        line-height: 66px;
    }
    
    h2 {
        font-size: 36px;
        line-height: 53px;
    }
    
    h3 {
        font-size: 29px;
        line-height: 42px;
    }
    
    h4 {
        font-size: 23px;
        line-height: 34px;
    }
    
    h5 {
        font-size: 18px;
        line-height: 26px;
    }
    
    h6 {
        font-size: 15px;
        line-height: 22px;
    }
    
    p {
        font-size: 12px;
        line-height: 140%;
    }
    
    small {
        font-size: 9px;
        line-height: 11px;
    }

    .container .content {
        position: relative;
        padding: 100px 16px;
    }

    .button.cta button {
        width: 140px;
        height: 32px;
    
        font-family: 'Source Sans Pro Bold';
        font-size: 12px;
        line-height: 15px;
    }

    .title span.decoration {       
        font-family: 'Oswald Bold';
        font-size: 92px;
        line-height: 136px;
        letter-spacing: 0.2em;
    }

    nav .content {
        padding: 4px 16px 0 !important;
    }

    nav .links .link {
        margin-right: 16px;
    }

    .container.header .content {
        padding: 80px 16px 0 !important;
    }

    .container.header .row {
        height: 390px;
    
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .container.header .title {
        width: 422px;

        margin-bottom: 80px;
    }

    .container.header .title h1:first-child {
        margin-bottom: 16px;
    
        line-height: 45px;
    }

    .container.header .img {
        width: 378px;
        height: 178px;
        
        margin-top: 88px;
        margin-left: 178px;

        transform: scale(-1, 1);
    }

    .container.header .row .column,
    .container.header .paragraph {
        width: 422px;
    }

    .container.header .button a {
        font-family: 'Source Sans Pro';
        font-size: 12px;
    }

    .container.header .button i {   
        font-size: 10px;
    }

    .container.header .row.infos {
        width: 460px;
        height: 112px;
        
        padding: 0 22px;
        flex-direction: row;
    }

    .container.header .row.infos .column {
        width: 80px;
    }

    .container.header .row.infos .border {
        height: 80px;
    }

    .container.header .row.infos .column h4 {
        margin-bottom: 8px;
    }

    .container.services .content {
        padding: 206px 16px 60px;
    }

    .container.services .row .column h6 {
        font-size: 12px;
        line-height: 15px;
    }

    .container.services .row .column p {
        font-size: 9px;
        line-height: 11px;
    }

    .container.services .paragraph {
        width: 422px;
    }

    .container.services .row .column {
        width: 140px;
    }

    .container.services .row.down {
        margin-top: 44px;
    }

    .container.services .row.up .column:nth-child(1) {
        margin-right: 20px;
        margin-bottom: 16px;
    }
    
    .container.services .row.up .column:nth-child(1) img {
        width: 62px;

        bottom: -32px;
        right: 32px;
    }
    
    .container.services .row.up .column:nth-child(2) {
        margin-right: 20px;
        margin-bottom: 44px;
    }
    
    .container.services .row.up .column:nth-child(2) img {
        height: 36px;

        bottom: -44px;
        left: 12px;
    }
    
    .container.services .row.up .column:nth-child(3) {
        margin-bottom: 32px;
    }
    
    .container.services .row.up .column:nth-child(3) img {
        height: 55px;

        bottom: -52px;
        left: -32px;

        transform: scale(1, -1) rotate(90deg);
    }
    
    .container.services .row.down .column:nth-child(1) {
        margin-right: 20px;
        margin-bottom: 16px;
    }
    
    .container.services .row.down .column:nth-child(1) img {
        width: 56px;

        right: -16px;
        top: -8px;

        transform: rotate(-45deg);
    }
    
    .container.services .row.down .column:nth-child(2) {
        margin-top: auto;
        margin-right: 44px;
        margin-bottom: 0;
    }
    
    .container.services .row.down .column:nth-child(2) img {
        height: 32px;

        top: -36px;
        right: 80px;

        transform: rotate(-15deg);
    }
    
    .container.services .row.down .column:nth-child(3) {
        margin-top: auto;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .container.services .row.down .column:nth-child(3) img {
        height: 43px;

        top: -48px;
        left: 52px;

        transform: rotate(-15deg);
    }
    
    .container.services .row.down .column:nth-child(4) {
        margin-bottom: 116px;
    }
    
    .container.services .row.down .column:nth-child(4) img {
        width: 64px;

        left: -64px;
        top: -16px;

        transform: rotate(-25deg);
    }

    .container.services .row.mid {
        width: 300px;
    
        margin-top: 110px;
        left: 58px;
    }

    .container.services .row .column p {
        margin-top: 4px;
    }

    .container.about .title span.decoration {
        width: 200%;
        
        right: auto;
        left: auto;
        
        color: rgba(38, 42, 43, 0.1);
        
        transform: translateX(-50%);
    }

    .container.about .content > .column > .button {
        margin-top: 32px;
        display: block;
    }

    .container.about .content > .column > .button.cta button {
        width: 300px;
    } 

    .container.about .content .column > .row {
        height: 377px;

        display: grid;
        grid-template-areas: 
        'full full' 
        'half-left half-right';
    }

    .container.about .content .column > .row > .row {
        width: 342px;

        grid-area: half-left;
    }

    .container.about .row > .column  {
        width: 100%;
        
        margin-right: 0;
        margin-bottom: 32px;
        grid-area: full;
    }

    .container.about .row > .column .button {
        display: none;
    }

    .container.about .slides {
        height: 261px;
    }

    .container.about .slides img {
        width: 326px;
        height: 261px;
    }
    
    .container.about .row .column:last-of-type {
        width: 182px;

        margin-bottom: 0;
        justify-content: flex-start;
        grid-area: half-right;
    }

    .container.about .item:first-child {
        height: 69px;
    }

    .container.about .item {
        width: 182px;
        height: 80px;
        
        padding: 8px;
    }

    .container.feedback .content {
        padding: 100px 16px;
    }

    .container.feedback .title span.decoration {
        width: 300%;
        color: rgba(38, 42, 43, 0.1);
    }

    .container.feedback .testimonials {
        height: 235px;
    }

    .container.feedback .testimonials .card {
        margin: 0 64px;
    }

    .container.feedback .testimonials .card > .row {
        width: 284px;
    }

    .container.feedback .testimonials .infos .img {
        width: 34px;
        height: 34px;
    }

    .container.feedback .testimonials .infos .img img {
        width: 34px;
        height: 34px;
    }

    .container.feedback .testimonials .infos i {
        font-size: 10px;
    }

    .container.contacts .item.column {
        width: 140px;
    }

    .container.contacts .item.column .decoration {
        height: 40px;

        padding: 0 8px;
    }

    .container.contacts .item.column .row {
        width: 124px;

        padding: 8px 15px;
    }

    .container.contacts .item.column .row i {
        margin-right: 8px;

        font-size: 20px;
    }

    .container.contacts .item.column p {
        margin-top: 8px;
    }

    .container.differential .content > .column {
        margin-bottom: 32px;
    }

    .container.differential .row {
        margin-top: 131px;
    }

    .container.differential .row .column {
        width: 172px;
        height: 145px;
    
        padding: 21px 16px 8px;
    }

    .container.differential .row .column .icon {
        width: 36px;
        height: 36px;

        top: -18px;
    }

    .container.differential .row .column .icon i {
        font-size: 18px;
    }

    .container.differential .row .column .paragraph p {
        font-size: 9px;
        line-height: 140%;
    }

    .container.differential .button.cta button {
        width: 300px;
    }

    .container.materials .content > .row {
        height: 400px;

        padding: 16px 32px;
        flex-direction: column;
        align-items: center;
    }

    .container.materials .content > .row > .column {
        width: 100% !important;
        height: auto;
        
        margin-bottom: 16px;
        align-items: flex-start;
    }

    .container.materials .column .title h3 {
        font-size: 23px;
        line-height: 34px;
    }

    .container.materials .column .button.cta {
        display: none;
    }

    .container.materials .row > .row {
        width: 100% !important;
        
        margin-left: 0;
        padding: 16px 8px;
    }

    .container.materials .row .row .column {
        width: 230px;
    }

    .container.materials .row .row .item.selected .row {
        width: 230px;
    }

    .container.materials .row .row .item .row {
        width: 222px;
    }

    .container.materials .row .row .item .row span.bar {
        height: 34px;
    }

    .container.materials .row .row .img {
        width: 226px;
        height: 226px;
    }

    footer .container .content {
        padding: 500px 16px 16px;
    }

    footer .row .button {
        width: 140px;

        text-align: right;
    }

    footer .row .column,
    footer .row .column .column {
        width: 140px;
    }

    footer iframe {
        width: 300px;
        height: 166px;
    }
}